<html>
    <head>
    </head>
    <body>
        <div class="table text-center mt-4 ml-4">
            <table border="1px" cellpadding="20px" cellspacing="0px">
                <tr>
                         <th>Date</th>
                         <th>ID</th>
                         <th>Name</th>
                         <th>Check In</th>
                         <th>Check Out</th>
                         <th>Pay per day</th>
                </tr>
                {% for i in data %}
                <tr>
                        <td>{{i[0]}}</td>
                        <td>{{i[1]}}</td>
                        <td>{{i[2]}}</td>
                        <td>{{i[3]}}</td>
                        <td>{{i[4]}}</td>
                        <td>{{i[5]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>